@import "bourbon";

// Variables

$main: #8e9eab;
$accent: #0b2653;
$neutral: #eee;
$dark: #000;
$light: #fff;
$red: #ca5959;
$green: #008e7d;

// Type scale

$light-intense: #fff; 
$dark-intense: #000; 
$dark-secondary: rgba( $dark, .7 ); 

// Breakpoint mixin

@mixin media($class) {
  @if $class == tablet {
    @media (min-width: 860px) { @content; }
  }
  @if $class == mobile {
    @media (max-width: 800px) and (orientation: landscape) { @content; }
    @media (max-width: 500px) and (orientation: portrait) { @content; }
  }
  @if $class == mobile_low {
    @media (max-width: 568px) and (orientation: landscape) { @content; }
  }
}

// Helpers

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  @include transform(translate(-50%, -50%));
  @include media(mobile) {
    width: 90%
  }  
}

.red {
  color: $red;
}

.green {
  color: $green;
}

.error {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  width: 320px;
  margin: 0 auto;
  @include animation(error_animation 3.0s cubic-bezier(0.45, 0.43, 0.52, 1.03));
  @include media(mobile) {
    top: -5px;
    font-size: .8em;
  }
}

@include keyframes(error_animation) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// Basic setup

html {
  height: 100%;
  color: $dark-secondary;
  background: #092756;
  @include background(
             linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%),
             linear-gradient(-45deg, #670d10 0%, #092756 100%)
           );
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.logo,
.icon {
  @include media(mobile) {
    width: 25px;
    height: 25px;
  }
}

.logo {
  @include media(mobile_low) {
    display: none;
  }
}

h1 {
  font-size: 4em;
  color: #fff8dc;
  text-shadow: rgb(255, 144, 39) 2px 2px;
  @include media(mobile) {
    font-size: 2em;
  }
}

h2 {
  font-size: 2em;
  color: $light;
  @include media(mobile) {
    font-size: 1em;
  }
}

// Form

form {
  padding-top: 40px;
  position: relative;
  @include media(mobile) {
    padding-top: 5px;
  }

  input,
  button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    transition: all 0.5s ease-in-out;
  }

  input {
    width: 50%;
    min-width: 200px;
    max-width: 400px;
    height: 15px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0);
    overflow: hidden;
    margin-top: 15px;
    font-weight: bolder;
    color: $light;
    @include placeholder {
      color: $light;
    }

    &:focus {
      outline: 0;
      border: 2px solid rgba(255, 255, 255, 0.5);
      border-radius: 20px;
      background: rgba(0, 0, 0, 0);
    }
  }

  button {
    width: 240px;
    background-color: #e4805a;
    color: #FFF;
    height: 39px;
    border-radius: 20px;
    margin-top: 30px;
    border: none;
    text-transform: uppercase;
    font-size: .9em;
    @include media(mobile_low) {
      margin-top: 14px;
    }

    &:hover {
      background: #4082f5;
      box-shadow: 0 4px 35px -5px #4082f5;
    }

    &:focus {
      outline: none;
    }
  }
}

// Table

.table-wrapper {
  margin: 40px 10px;
  position: relative;
  overflow: hidden;
  @include media(tablet) {
    max-width: 900px;
    margin: 40px auto;
  }

  .table-inner {
    overflow: scroll;
    max-height: 800px;
    @include media(mobile) {
      max-height: 420px;
    }
  }

  @include media(tablet) {
    overflow: visible;
    box-shadow: none;
    &:after {
      content: none;
    }
  }
}

table {
  font-size: .7em;
  overflow: hidden;
  border-radius: 5px;
  margin: 0 auto;
  @include media(tablet) {
    font-size: .8em;
  }

  caption {
    font-size: 1.5em;
    color: $light-intense;
    margin-bottom: 23px;
    text-align: left;
    @include media(tablet) {
      font-size: 40px;
    }
  }

  th,
  td {
    padding: 1em;
    min-width: 100px;
    border: none;
    background: $neutral;
    text-align: left;
  }

  th {
    background: $main; 
    color: $light-intense; 
  }

  td:first-child {
    font-weight: bold;
    text-align: left;
  }

  tr:nth-child(even) td {
    background: lighten($neutral, 12%);
  }
}

// Links

.link,
.make_with_love {
  text-align: center;
  @include media(mobile_low) {
    padding-top: 20px;
  }

  a {
    color: $light;
    font-weight: 200;
    font-size: .7em;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.make_with_love {
  padding-top: 40px;
}
